<form class="new-post">
  Title
  <input class='title' type="text" name="post[title]" value="">
  Body
  <textarea class='body' name="post[body]"></textarea>
  <button class="submit-new">New Post</button>
</form>

<a href="#">Back</a>